 html {
  scroll-behavior: smooth;
}
 /* carousel */
      .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin-left: auto;
    margin-right: auto;
    background-size: cover;

  }
 
  
  #new{
      width: 100%;
      height:100%;
      position: relative;
      top:10px;
    
  }
  
        body
        {
            font-family: 'Courier New', Courier, monospace;
            margin:0;
             width: 100%;
            height: 100%; 
            background-repeat: no-repeat;
            background-size: 100%;
            background-color: #1b1b1b;
            background-image: url('back2.jpg');
        }
        .tops
        {
           
            background-color:#ff7f50;
            width: 100%;
            height: 15%;
            margin-bottom: 0%;
            color: #4DA167;

        }
        .xxx
        {
            position: relative;
            top: 40%;
        }
        .cp10
        {
            text-align: center;
            color: whitesmoke;
            font-size: 70px;
            margin: 0%;
            font-weight: bold;
            font-style: oblique;
            position: relative;
            top:5px;
            color: white;
            background-image: url("back2.jpg");
              text-shadow: 3px 3px green;



        }

        .a{
        width:300px;
        height:60px;
        font-size: 20px;
        border-radius: 20px; 
        padding:10px;
        text-align: center;
        outline-color: #ff7f50;
        -moz-outline-radius: 12% 1em 25px;
    }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:#16A667;/*#95BF74 */
            height:50px;
            
            }

        li {
            float: left;
        }

        li a {
            display: block;
            color:white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            color: #1b1b1b;
            text-decoration:none;
        }
        .right{
            float:right;
            padding-right: 75px;
            font-size: 20px;
            text-align: center;
        }
        .btn-secondary1{
            border-radius: 15px;
            border-color:white;
            position: relative;
            left:1200px;
            bottom:250px;
            margin-bottom:5px;   
        }
        .btn-secondary2{
            border-radius: 15px;
            border-color:white;
            position: relative;
            left:1000px;
            bottom:305px;
            margin-bottom:5px;   
               
        }
        
        .btn-secondary a:hover{
            background-color:whitesmoke;

        }
        .container{
            position: relative;
            bottom:100px;
        }
        .bottom{
            background-color: black;
            width: 100%;
            height:30%;
            color: white;
            position: relative;
            top:500px;
            
        }
        .about-us{
            float:left;
            position: relative;
            left:50px;
            top:7px;
            font-size: 20px;
            color: white;
            



        }
        .share{
            float: left;
            position: relative;
            top:7px;

            left:100px;
            font-size: 20px;
            color: white;



        }
        .faqs{
            float: left;
            position: relative;
            top:7px;

            left:150px;
            font-size: 20px;
            color: white;
        }
        .contact{
            float: left;
            top:7px;

            position: relative;
            left:200px;
            font-size: 20px;
         color: white;
        }
        .copyright{
            background-color: #16A667;
            font-size: 20px;
            position: absolute;  
            text-align: center;
            height:20%;
            width:100%;
            padding-top:8px;
            top:250px;
        }
        .service-section {
  padding: 4em 0;
  background:#37353b;
  height:400px;
  position: relative;
  top:400px;
  text-align: center;
      background-image: url('back2.jpg');


 }
.service-section h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  color: #fff;
    margin: 0 17px;
	  font-weight: 600;
}
.service-grids {
  margin-top: 3em;
    text-align: center;
}
.service-grid img {
  margin: 0 auto;
  background:#16A667;
  padding: 0.5em 1em;
  border-radius: 10px;
}
.service-grid img:hover {
  background: #f2af00;
}
.service-grid h4 {
  font-size: 1.5em;
  padding: 0.8em 0 0;
  color: #fff;
    font-weight: 600;
}
.service-grid p {
  font-size: 1em;
  padding: 1em 0;
  color: #999;
  line-height: 1.8em;
}
.work-section {
  padding: 4em 0;
  background:#eee;
 }
 .header-bottom {
  position: relative;
  top:-250px;
}
.header-grids {
  position: absolute;
  bottom: -38em;
  left: 0;
  width: 100%;
}
.header-img1 {
  background: #16A667;
    padding: 1.5em 2em;
}
.header-img2 {
  background:#16A667;
  padding: 1.5em 2em;
}
.header-img3 {
  background:#16A667;
  padding: 1.5em 2em;
}
.header-img4 {
  background:#16A667;
  padding: 1.5em 2em;
}
.header-grid img {
  margin: 0 auto;
  border-radius: 73px;
  border: 9px solid #eee;
  padding: 1em 1em;
}
.header-grid h4 {
  font-size: 1.4em;
  padding: 0.5em 0 0;
  color: #fff;
    font-weight: 600;
}
.header-grid p {
  font-size: 1em;
  padding: 0.5em 0;
  color: #fff;
  line-height: 1.8em;
}
/* animation */
.header-grid img:hover {
  transform: rotateY(360deg);
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}
.content{
    position: relative;
    top:500px;

}
#producttitle{
    color:white;
    font-size: 40px;
    position: relative;
    text-align: center;

}


.hovereffect {
  width: 100%;
  height: 40%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.four_items{
    position: relative;
    top:50px;
}

.fa {
    border-radius: 25%;
    padding: 8px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 4px 25px;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }