body{
	margin: 0;
	background-color: white; 
	background-image: url("farming.jpg"); 
	background-repeat: no-repeat;
}
.heading{
	background-color: forestgreen;
	text-align: center;
	text-shadow: 3px 3px black;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-size: 35px;
	padding: 2px;
	color: white;
}
#navbar {
  	overflow: hidden;
  	background-color: black;
  	position: sticky;
  	top: 2px;
	z-index:1;
}

#navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 18px 20px;
	text-decoration: none;
	font-size: 17px;
	width: 16.66%;
}

#navbar a:hover {
	background-color: lightgrey;
	color: black;
}

#navbar a.active {
	background-color: darkgreen;
	color: white;
}

.content {
	padding: 16px;
	text-align: center;
	
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 40px;
}				
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  background-image: linear-gradient(steelblue,white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 70px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.circle 
{
height: 120px;
width: 120px;
background-color: rgb(16, 135, 233);
border-radius: 50%;
display: inline-block;
margin-left: 20%;

}

.profbar 
{
margin-top: 133px;
height: 100%;
width: 200px;
position: absolute;
z-index: 1;
top: 0;
right: 0;
border-left: solid 2px black;
overflow-x: hidden;
padding-top: 20px;
background-color: #1b1b1b;

}

h2 
{
padding: 6px 15px 6px 16px;
text-decoration: none;
font-size: 27px;
color: black;
display: block;
}
ul
{
padding: 6px 15px 6px 16px;
font-size: 25px;
color: black;
}
li
{
padding-top: 30px;
list-style-type: none;
}	
.footer {
 	padding: 20px;
  	text-align: center;
  	background: darkslategrey;
  	color: white;
  	position: sticky;
  	margin-top: 5%;
}	

fieldset {
	display: inline-block;
	text-align: left;
	margin-left: 2px;
	margin-right: 10px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 300px;
	padding-left: 50px;
	border: 10px groove;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px); 
}
			
